rosetta-source/src/main/resources/schemas/ore-1-0-39/ore-cdm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <!-- ORE 1.0.39 Market Data Elements - CDM-compatible subset -->
  <xs:complexType name="TradeData">
    <xs:element name="acceleratedOrMatured" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="account" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="accountBeneficiary" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="accountName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="accountNumber" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="accountReference" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="accountType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="accrualFactor" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="accrueInterestOnUnsettledInterest" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="accruedInterest" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="acctOwnr" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="acquiredSecurity" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="acquiredSecurityPrice" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="actingAs" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="action" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="activityDate" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="addendumLanguage" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="additionalAcknowledgements" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="additionalAmendments" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="additionalBespokeTerms" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="additionalBusinessDays" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="additionalContactInformation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="additionalDisruptionEvents" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="additionalDividends" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="additionalFixedPayments" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="additionalHaircutPercentage" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="additionalInformation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="additionalLanguage" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="additionalObligations" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="additionalRegime" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="additionalRepresentation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="additionalRepresentations" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="additionalRightsEvent" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="additionalTerm" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="additionalTerminationEvent" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="additionalTerms" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="additionalType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="address" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="addressForNotices" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="addressesForTransfer" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="addtlAttrbts" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="adjustableDate" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="adjustableDates" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="adjustableOrRelativeDate" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="adjustedCashSettlementPaymentDate" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="adjustedCashSettlementValuationDate" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="adjustedDate" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="adjustedEarlyTerminationDate" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="adjustedEndDate" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="adjustedExerciseDate" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="adjustedExerciseFeePaymentDate" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="adjustedExtendedTerminationDate" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="adjustedFixingDate" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="adjustedFxSpotFixingDate" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="adjustedPaymentDate" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="adjustedRelevantSwapEffectiveDate" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="adjustedStartDate" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="adjustment" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="adjustmentFactor" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="adjustmentRatio" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="after" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="agency" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="agencyRating" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="aggregateValue" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="aggregateWeight" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="aggregation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="aggregationParameters" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="aggregationType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="agreedAmountBaseCurrency" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="agreedDiscountRate" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="agreement" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="agreementDate" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="agreementMinimumTransferAmount" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="agreementName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="agreementRounding" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="agreementSet" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="agreementTerms" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="agreementThreshold" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="agreementType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="agreementsRegardingHedging" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
  </xs:complexType>

  <xs:complexType name="MarketData">
    <xs:element name="allCriteria" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="allDirectionRating" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="allDividends" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="allGuarantees" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="alphaContract" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="alternativeProvision" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="alternativeTerms" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="alternativeToInterestAmount" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="amendmentsToJapaneseProvisions" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="amendmentsToJapaneseProvisionsTerms" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="amount" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="amountBaseCurrency" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="amountIsInfinity" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="amountOfNetCapital" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="amountRemaining" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="amountUtilized" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="ancillaryParty" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="announcementDate" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="annualizationFactor" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="anyCriteria" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="anyDirectionRating" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="applicable" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="applicableBusinessDays" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="applicableCsa" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="applicableParty" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="applicableRegime" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="applicableTransfer" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="applicableValue" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="appliedRate" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="appliesTo" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="appropriatedCollateralValuation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="approval" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="approved" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="arithmeticOperator" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="asCalculationAgent" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="asPermitted" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="asSpecified" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="asset" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="assetAgencyRating" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="assetBacked" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="assetClass" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="assetCountryOfOrigin" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="assetFlowType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="assetLeg" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="assetType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="assignableLoan" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="assignedIdentifier" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="assignmentOfClaim" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="attachment" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="attachmentPoint" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="auctionDate" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="automaticEarlyTermination" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="automaticEarlyTerminationApplies" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="automaticEarlyTerminationInModifiedForm" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="automaticEarlyTerminationOther" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="automaticEarlyTerminationRequiredDueToSystemOfLaw" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="automaticEarlyTerminationSpecifiedSeparatelyForEachPrinciple" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="automaticExercise" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="automaticSetOff" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="automation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="availableInventoryRecord" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="availableInventoryType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="averageTradingVolume" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="averagingCalculation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="averagingDateTimes" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="averagingFeature" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="averagingInOut" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="averagingMethod" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="averagingMethodology" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="averagingObservation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
  </xs:complexType>

  <xs:complexType name="PortfolioData">
    <xs:element name="averagingObservations" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="averagingPeriodFrequency" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="averagingPeriodIn" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="averagingPeriodOut" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="averagingStrikeFeature" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="balanceOfFirstPeriod" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="bankHolidaysTreatment" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="bankruptcy" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="barrier" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="baseAndEligibleCurrency" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="baseCurrency" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="baseCurrencyExposure" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="baseCurrencyIfOriginalNotFreelyConvertible" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="baseCurrencyMustBeFreelyConvertible" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="baseCurrencyOther" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="baseCurrencyTerminationCurrency" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="baseValue" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="basketConstituent" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="basketId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="basketName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="basketPercentage" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="basketReferenceInformation" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="before" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="belgianLawSecurityAgreement" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="benchmarkObligationDefault" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="benchmarkObligationDefaultIsApplicable" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="bespokeCalculationAgentTerms" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="bespokeCalculationDate" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="bespokeCalculationFormula" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="bespokeCalculationTime" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="bespokeCalculationTimeTerms" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="bespokeCoveredTransactions" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="bespokeCreditSuppportDocument" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="bespokeCreditSuppportProvider" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="bespokeEscrowArrangements" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="bespokeEventDescription" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="bespokeTransferTiming" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="bespokeTransferTimingTerms" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="billingEndDate" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="billingRecord" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="billingRecordInstruction" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="billingStartDate" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="billingSummary" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="block" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="bond" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="bondReference" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="borrower" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="bothAffected" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="bothAffectedTermCurrencyOption" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="boundary" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
  </xs:complexType>

</xs:schema>